<%- include('partials/header') %>

<div class="signup">

    <i class="fas fa-book fa-8x"></i>
    <h1 class=tagline>Log your daily events Efficiently and Securely</h1>
    <hr>

  <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>

</div>


<%- include('partials/footer') %>
